footer{
    position: relative;
    height: 121px;
    top: 0px;
    background-color: white;
    padding-top: 24px;
    font-size: 14px;
    text-align: center;
}
.social_media{
    width: 320px;
    padding-right: 45px;
    padding-left: 45px;
    margin-top: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
i{
    width: 16px;
    height: 28px;
}