@media screen and (min-width: 500px){
    header { 
        height: 80px;
        padding: 26px 5%;
        line-height: 16px;
    }
    header nav .menu ul {
        position: relative;
        top: 0;
        right: 0;
        overflow: hidden;
        background: unset;
        height: unset;
    }
    header nav .menu  ul li {
        padding: 5px 10px;
        display: inline-block;
    }
    header nav .menu .list li a:visited {
        text-decoration: line-through;
        color: rgba(6,10,36,0.56);
    }
    header nav .menu  ul li:hover {
        background: #ffffff;
    }
    header nav .menu ul li a {
        color: $primary;
        padding: unset;
        line-height: unset;
    }
    header nav .menu .list li a:hover {
        background: white;
        text-decoration: line-through;
        color: $third;
    }
    header nav .menu input {
        display: none;
    }
    header nav .menu span {
        display: none;
    }
    .hoverable:hover{
        color: $third;
    }
    
    main {
        margin-top: 120px;
        font-size: 16px;
        line-height: 24px;
    }
    .title {
        padding-left: 200px;
        padding-right: 200px;
    }
    .dot {
        color: #0000EC;
    }

    /* Section Hello World */

    h1{ 
        line-height: 82px;
        font-size: 64px;
        padding-left: 0px;
        padding-right: 0px;
    }
    h2{
        font-size: 48px;
        margin-left: 200px;
    }
    .tecnologia {
        display: inline;
    }
    .titulo {
        display: inline;
    }
    .firstp {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 628px;
    }
    #button1{
        margin-left: 0px;
        margin-bottom: 5px;
        background-color: $third;
        width: 226px;
        height: 56px;
        justify-content: center;
    }

    /* Section Episodes */
    
    #episodes{
        height: 714px;
    }
    .skewb{
        padding-top: 26px;
        padding-left: 0px;
    }
    .siblings{
        transform: skewY(6deg);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    iframe{
        width: 40.6%;
        height: 232px;
    }

    /* Section phone*/

    .about_us {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: -31.5px;
    }
    .we_from {
        margin-left: 0px;
    }
    .text{
        width: 32.2%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    .phone {
        width: 457.6px;
        height: 660px;
        margin-left: 200px;
    }

    /*Section Guests*/

    .guest{
        width: 33.3%;
        height: 364px;
    }
    .guests_images{
        width: 100%;
        margin-top: 36px;
        margin-bottom: 64px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    /*Section topics*/

    .topics{
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 36px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .topic_container{
        width: 25%;
        text-align: center;
        margin-bottom: 34px;
    }

    /*Latest news*/

    .latest_news{
        z-index: 0;
        width: 100%;
        height: 518px;
        padding-top: 0px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .skew_back{
        margin-top: -95px;
        margin-left: 0px;
    }
    .button2 {
        transform: skewY(6deg);
    }
    #button1{
        margin-left: 0px;
        margin-bottom: 5px;
        background-color: $third;
        width: 226px;
        height: 56px;
        justify-content: center;
    }
    
    /*Footer*/

    footer{
        height: 140px;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0px;
        font-size: 16px;
        bottom: 0px;
    }
    i{
        width: 18px;
        height: 28px;
    }
    .social_media{
        margin-top: 0px;
    }

    
}
@media screen and (min-width: 500px){
    .siblings{
        padding-left: 6.9%;
        padding-right: 6.9%;
        transform: skewY(6deg);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
    }
    iframe{
        width: 40.6%;
        height: 5.9%;
        margin-bottom: 1.8%;
    }
}